<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="../../img/theme/avatar3.png" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p>Hello, SYR</p>

            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..."/>
            <span class="input-group-btn">
                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li>
            <a href="/">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <li 
            ui-route="/finance" 
            ng-class="{active: $uiRoute}"  
            class="treeview" 
            data-treeview>
            <a href="#">
                <i class="fa fa-th"></i> 
                <span>Finance</span> 
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="#!/finance/budget">
                        <i class="fa fa-angle-double-right"></i>
                        Budget
                    </a>
                </li>
                <li>
                    <a href="#!/finance/profit-loss">
                        <i class="fa fa-angle-double-right"></i>
                        Profit &amp; Loss
                    </a>
                </li>
                <li>
                    <a href="#!/finance/ballance-sheet">
                        <i class="fa fa-angle-double-right"></i>
                        Ballance Sheet
                    </a>
                </li>
                <li>
                    <a href="#!/finance/receivables">
                        <i class="fa fa-angle-double-right"></i>
                        Receivables
                    </a>
                </li>
                <li>
                    <a href="#!/finance/payables">
                        <i class="fa fa-angle-double-right"></i>
                        Payables
                    </a>
                </li>
                <li>
                    <a href="#!/finance/transactions">
                        <i class="fa fa-angle-double-right"></i>
                        Transactions
                    </a>
                </li>
            </ul>
        </li>
        <li 
            ui-route="/operations" 
            ng-class="{active: $uiRoute}">
            <a href="#!/operations">
                <i class="fa fa-th"></i> 
                <span>Operations</span> 
            </a>
        </li>
        <li 
            ui-route="/marketing" 
            ng-class="{active: $uiRoute}">
            <a href="#!/marketing">
                <i class="fa fa-th"></i> 
                <span>Marketing</span> 
            </a>
        </li>
        <li 
            ui-route="/development" 
            ng-class="{active: $uiRoute}">
            <a href="#!/development">
                <i class="fa fa-th"></i> 
                <span>Development</span> 
            </a>
        </li>
        <li 
            ui-route="/tasks" 
            ng-class="{active: $uiRoute}">
            <a href="#!/tasks">
                <i class="fa fa-th"></i> 
                <span>Tasks</span> 
            </a>
        </li>
        <li 
            ui-route="/settings" 
            ng-class="{active: $uiRoute}"  
            class="treeview" 
            data-treeview>
            <a href="#">
                <i class="fa fa-th"></i> 
                <span>Settings</span> 
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="#!/settings/categories">
                        <i class="fa fa-angle-double-right"></i>
                        Categories
                    </a>
                </li>
                <li>
                    <a href="#!/settings/classes">
                        <i class="fa fa-angle-double-right"></i>
                        Classes
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</section>
<!-- /.sidebar -->