.nested-cats{
    margin-left: 20px;
}

.klass-row{
    padding: 12px 0;
    background: #E7E6E6;
    border-bottom: 1px solid #428bca;
}

.cat-row{
    padding: 8px 0;
    background: #CECCCC;
    border-bottom: 1px solid #5bc0de;
}

.trans-row{
    padding: 8px 0;
    background: #B3B3B3;
    border-bottom: 1px solid #5cb85c;
}