extends auth
block auth
	#login-box.form-box
		.header Sign In

		form.login-form(action="/#!/beacons", method="get")
			.body.bg-gray
				.form-group
					input.form-control(type="text", name="username", placeholder="Username")
				.form-group
					input.form-control(type="password", name="password", placeholder="Password")

			.footer
				//button.btn.bg-olive.btn-block(type="submit") Sign In 
				a.button.btn.bg-olive.btn-block(href="/locations") Sign In
