extends auth

block auth
	#login-box.form-box
		.header Registration Form

		form.signup.login-form(action="/users", method="post")
			.body.bg-gray
				.form-group
					input.form-control#name(type='text', name="name", placeholder='Full name')

				.form-group
					input.form-control#email(type='text', name="email", placeholder='Email')

				.form-group
					input.form-control#username(type='text', name="username", placeholder='Username')

				.form-group
					input.form-control#password(type='password', name="password", placeholder='Password')

			.footer
				button.btn.bg-olive.btn-block(type="submit") Sign Up 
				a.btn.bg-navy.btn-block(href="/signin") login
