extends auth

block auth
	#login-box.form-box
		.header Login Form

		form.login-form(action="/users/session", method="post")
			.body.bg-gray
				.form-group
					input.form-control(type="text", name="username", placeholder="Username")
				.form-group
					input.form-control(type="password", name="password", placeholder="Password")

			.footer
				button.btn.bg-olive.btn-block(type="submit") Sign In 
				a.btn.bg-navy.btn-block(href="/signup") Sign Up 
