extends users/auth

block auth
	#login-box.form-box
		.header Error!

		.body.bg-gray
			h1.text-center 505
			p.text-center
				| Something went wrong on the server


		.footer
			a.btn.bg-navy.btn-block(href="/login") Sign In
